<!DOCTYPE html>
<head>
    <title>FATALITY!!!!!</title>
</head>
<body>
    <form action="http://127.0.0.1:8000/doccer/fetch">
        <input type="number" name="n_docs">
        <table>
            <tr>
                <td><input type="submit" name="reddit" value="hot"></td>
                <td><input type="submit" name="reddit" value="new"></td>
                <td><input type="submit" name="reddit" value="rising"></td>
                <td><input type="submit" name="reddit" value="controversial"></td>
                <td><input type="submit" name="reddit" value="top"></td>
                <td><input type="submit" name="reddit" value="gilded"></td>
            </tr>
        </table>
    </form>
</body>